################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CompanyOptions/.vs/CompanyOptions/v15
